        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        body {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            /* move content down */
            padding-top: 120px;
            /* adjust height here */

            background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
                url("collegeimg.png") no-repeat center center;

            background-size: cover;
            background-attachment: fixed;
        }

        body.error-bg {
            background: linear-gradient(rgba(0, 0, 0, 0.6),
                    rgba(0, 0, 0, 0.6)),
                url("../static/error.png") no-repeat center center;

            background-size: cover;
            background-attachment: fixed;
        }

        /* Admin Glass Card */
        .login-card {
            width: 100%;
            max-width: 420px;
            padding: 45px 35px;
            border-radius: 20px;

            background: rgba(255, 255, 255, 0.12);
            backdrop-filter: blur(15px);
            border: 1px solid rgba(255, 255, 255, 0.2);

            box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
            color: rgb(20, 8, 8);
            ;
            text-align: center;
        }

        .login-card h2 {
            font-size: 28px;
            margin-bottom: 5px;
        }

        .login-card p {
            font-size: 15px !important;
            margin-bottom: 25px;
            opacity: 0.9;
        }

        .error-line {
            background: rgba(255, 0, 0, 0.411);
            color: #e94646;
            border-left: 4px solid #ff0000;
            padding: 8px 10px;
            font-size: 13px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-weight: 500;
            margin: 20px 30px;
        }



        .input-box label {
            font-size: 14.4px !important;
            /* increase size */
            font-weight: 600;
            /* bold */
            margin-bottom: 8px;
            display: block;
        }


        /* Input */
        .input-box {
            text-align: left;
            margin-bottom: 18px;
        }

        .input-box label {
            font-size: 13px;
            margin-bottom: 6px;
            display: block;
        }

        .input-box input {
            width: 100%;
            padding: 13px;
            border-radius: 10px;
            border: none;
            outline: none;
            background: rgba(255, 255, 255, 0.2);
            color: white;
            font-size: 15px;
        }

        .input-box input::placeholder {
            color: rgba(255, 255, 255, 0.7);
        }

        /* Button */
        .login-btn {
            width: 100%;
            padding: 14px;
            border: none;
            border-radius: 10px;
            background: #ffffff;
            color: #000;
            font-weight: 600;
            cursor: pointer;
            transition: 0.3s;
            margin-top: 10px;
        }

        .login-btn:hover {
            background: #f1f1f1;
            transform: translateY(-2px);
        }

        /* Footer */
        .footer {
            margin-top: 18px;
            font-size: 13px;
        }

        .footer a {
            color: white;
            text-decoration: none;
            opacity: 0.85;
        }

        .footer a:hover {
            text-decoration: underline;
        }

        .admin-badge {
            position: absolute;
            top: 30px;
            right: 40px;
            background: rgba(0, 0, 0, 0.6);
            padding: 8px 15px;
            border-radius: 20px;
            color: white;
            font-size: 13px;
            letter-spacing: 1px;
        }