<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login | Lokesh University</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body class="{% if error %}error-bg{% endif %}">
    <div class="admin-badge">ADMIN PANEL</div>

    <div class="login-card">
        <h2>Admin Login</h2>

        <p>Lokesh University Control System</p>

        <form action="/login" method="POST" autocomplete="off">
            <div class="input-box">
                <label>Admin Username</label>
                <input type="text" placeholder="Enter admin username" required name="username" autocomplete="off">
            </div>

            <div class="input-box">
                <label>Password</label>
                <input type="password" placeholder="Enter password" required name="password"
                    autocomplete="new-password">
            </div>
            <button class="login-btn">Login</button>
            {% if error %}
            <div class="error-line">
                <span>⚠</span>
                <span>Invalid Username or Password</span>
            </div>
            {% endif %}
        </form>

        <div class="footer">
            <a href="#">Forgot Password?</a>
        </div>
    </div>
    <div class="login-ticker">
        <div class="ticker-text">
            USERNAME: admin &nbsp;&nbsp;&nbsp; PASSWORD: 1234
        </div>

    </div>


</body>

</html>